[Desktop Entry]
Type=Application
Name=Micropolis
GenericName=City Simulation Game
Comment=Build and manage a simulated city
Exec=/usr/games/micropolis
Icon=micropolis
Terminal=false
Categories=Game;Simulation;
Keywords=city;simulation;simulator;strategy;
StartupNotify=true
